rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    
    match /posts/{docId} {
      allow read: if true;
      allow write: if request.resource.data.keys().hasOnly([
        'mediaURL', 'mediaType', 'authorName', 'authorPhoto', 'postDesc', 'likes', 'likesWeek', 'timestamp'
      ]);
    }

    match /comments/{commentId} {
      allow read: if true;
      allow write: if request.resource.data.keys().hasOnly(['postId', 'authorName', 'text', 'timestamp']);
    }
  }
}
